html, body {
    height: 100%;
    background-color: #000;
    color: #fff;
}
.main {
    /*height: 80%;*/
    min-width: 60%;
    width: 80%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
}

.logo{
    margin-top: -80px;
    margin-left: calc(50% - 112px);
}

.txt{
    margin: 30px;
    text-align: justify;
    font-size: 17px;
    color: #fff
}
.buttons{
    text-align: center;
}
.buttons>button{
    width: 230px;
    font-weight: bold;
    font-size: 18px;
    margin: 15px;
    background: #fff;
    border: 5px solid #fff;
}

.txt>a{
    color: #b5b4b5;
}
#mentionlegal{
  display: none;
  width: 80%; 
  height: 90%; 
  background-color: rgba(0, 0, 0, 0.90);
  border-radius: 10px;
}
#result {
  margin-top: 10px;
  width: 900px;
}

#result-data {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
#register, #register-press, #edit{
    background-color: #fff;
    width: 700px;
    height: 660px;
    max-height: 90%;
    border-radius: 5px;
    padding: 10px;
    color: #000
}
#edit_presentation{
  background-color: #fff;
  border-radius: 5px;
  width: 60%;
  padding: 10px;
  color: #000
}

#edit_pic{
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  /*height: 500px;*/
}
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: -50px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -40px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(1,2); font-size: 50px;color: #ccc;}

button:focus {outline:0;}

button:hover {background-color: transparent !important;}

.dropdown-item{color: rgba(255,255,255,.5) !important;}

.dropdown-item:hover{
    background-color: #000 !important;
    color: #fff !important;
}

#login{
    background-color: #fff;
    width: 350px;
    /*height: 300px;*/
    border-radius: 5px;
    padding: 10px;
    color: #000
}
#change_pass{
    padding-top: 1%;
    padding-bottom: 1%;
    max-width: 380px;
    background-color: #fff;
    border-radius: 5px;
    color: #000
}
#gallery_pic{
  width: 70%;
  height: 80%;
  /*overflow-y: auto;*/
  background-color: #fff;
  border-radius: 5px;
  text-align: center !important;
  color: #000
}
#gallery_pic>div#add-gal{
  position: absolute;
  color: #a9a9a9;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
}
#gallery_pic>div#add-gal:hover{
  cursor: pointer;
}
#gallery_pic>div:hover>.fa-plus{
  transform: scale(1.1);
}
#gallery_pic>div>.fa-plus{
  font-size: 90px;
  transition: all .2s ease-in-out;
}
#change_pass .form-element{
  margin-right: 5%;
}
#change_pass .form-element input{
  width: 100%;
}

#loginerror{
  font-size: 14px;
  text-align: center;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: none;
}
.form-element{
    padding: 5px;
    margin-left: 5%;
}
#edit_presentation .form-element{
  margin-left: 0;
}
.form-element>label{
    display: inline-block;
    min-width: 25%;
    font-size: 20px;
}

.form-element>input, 
.form-element>textarea{
    min-height: 25px;
    border-radius: 5px;
    min-width: 70%;
    vertical-align: top;
    padding-left: 1%;
}

.form-element>.categories{
    width: 70%;
    background-color: #fff;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
}
.submit-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
    font-size: 20px;
}
.submit-btn {
    outline: 0;
    padding: 5px 12px;
    display: block;
    color: #9fa8b0;
    font-weight: bold;
    text-shadow: 1px 1px #1f272b;
    border: 1px solid #1c252b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #232B30; /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
}
.submit-btn:hover {
    color: #fff;
    cursor: pointer;
    background: #4C5A64; /* old browsers */
    background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}
.submit-btn:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    color: #fff;
    padding: 6px 12px 4px;
    background: #20282D; /* old browsers */
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}

.email{
    min-width: 34% !important;
    padding-left: 1%;
}

.close-header{
    /*padding: 5px;*/
    margin-bottom: 10px;
    text-align: right;
}

.content{
    height: 95%;
    overflow-y: auto;
}


.content::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.content::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.close-header>.fa-times{
    /*margin-right: 5px;
    margin-top: 5px;*/
    cursor: pointer;
    font-size: 16px;
}

.required:after {
    content: "*";
    float: right;
    color: red;
    margin-top: 10px;
}

.underconstruction{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
}

.edit-img{
    color: #fff;
    z-index: 999;
    position: absolute;
    margin-top: 30px;
    margin-left: 215px;
    /* float: right; */
    font-size: 22px !important;
    padding: 5px;
    visibility: hidden;
    transition: all .2s ease-in-out;
}

#profile-pic{
    height: 0;
}
.profile-container{
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 30px;
}
.search-btn{
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  min-width: 250px;
}
.search-div{
  margin-top: 10px;
  text-align: center;
}
.edit-img:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.image-editor{
    position: relative;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.cropit-preview{
    width: 250px;
    height: 250px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: url(/img/upload.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 1px 1px 12px #555;
}
.cropit-preview-image-container {
    cursor: move;
}
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: -50px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -40px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(1,2); font-size: 50px;color: #ccc;}
button:focus {outline:0;}
button:hover {background-color: transparent !important;}
.dropdown-item{color: rgba(255,255,255,.5);}
.dropdown-item:hover{
    background-color: black;
    color: white;
}
.ddchild_ {
    height: 200px !important;
}

.ddcommon {
    border: 1px solid #c3c3c3;
    width: 70% !important;
}
.loader-container, .loaderpress-container{
    display: none;
    text-align: center;
    margin-top: 30%;
}
.loader{
    max-width: 15%;
}
.separator{
    display: inline-block;
    width: 80%;
    margin-left: 5px;
    height: 2px;
    border-top: 1px solid black;
}
.gallery-text{
    display: inline-block;
    font-size: 22px;
    text-shadow: 1px 2px #868686;
}
.success{
    max-width: 70%;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.error{
    max-width: 70%;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

input[type=range] {
  height: 23px;
  -webkit-appearance: none;
  margin: 0 10px;
  width: 150px;
  vertical-align: sub;
  display: inline-block;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 150px;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #FFFFFF;
  background: #CFCCCC;
  border-radius: 5px;
  border: 1px solid #949494;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #878787;
  border: 1px solid #4A4A4A;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #EDEDED;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #CFCCCC;
}
input[type=range]::-moz-range-track {
  width: 150px;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #FFFFFF;
  background: #CFCCCC;
  border-radius: 5px;
  border: 1px solid #949494;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #878787;
  border: 1px solid #4A4A4A;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #EDEDED;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 150px;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #CFCCCC;
  border: 1px solid #949494;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #FFFFFF;
}
input[type=range]::-ms-fill-upper {
  background: #CFCCCC;
  border: 1px solid #949494;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #FFFFFF;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #878787;
  border: 1px solid #4A4A4A;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #EDEDED;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #CFCCCC;
}
input[type=range]:focus::-ms-fill-upper {
  background: #CFCCCC;
}

.validate-img{
    width: 22px; 
    height: 22px; 
    vertical-align: bottom; 
    margin-left: 3px;
    transition: all .2s ease-in-out;
}

.validate-img:hover{
    cursor: pointer;
    transform: scale(1.3);
}
.validate-img:active{
    cursor: pointer;
    transform: scale(0.8);
}

.emailexists, .pressemailexists{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: none;
}

.newsletter>input{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 30px;
  font-size: 14px;
  color: #000;
}
.newsletter>div.input-group-prepend>button.input-group-text{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 30px;
}
.newsletter>div.input-group-prepend>button.input-group-text:hover{
  background-color: #fff !important;
  color: #000;
  cursor: pointer;
}
.newsletterTxt{
  margin-right: 10px; 
  vertical-align: sub;
}
.newsletterTxt:hover{
  cursor: pointer;
  color: rgba(255,255,255,.75);
}
.footer{
  color: rgba(255,255,255,.5); 
  margin-top: 30px;
}

.slidetext{
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #00000080;
  padding: 5px;
  text-align: center;
}
.edit{
  position: absolute;
  right: 0;
  display: none;
}
.editable:hover > .edit{
  display: block;
}
.lnk{
    color: rgba(255,255,255,.5);
}
.lnk:hover{
  color: rgba(255,255,255,.75);
}
.profile_carousel .owl-prev, .profile_carousel .owl-next{
  margin-top: -50px !important;
}
#result {
  margin-top: 10px;
  width: 900px;
}

#result-data {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

span.mce-branding.mce-widget.mce-label.mce-flow-layout-item.mce-last{
  display: none;
}

.img-container:hover .edit-pic{
  transition:opacity 0.3s ease-in;
  opacity: 0.7;
  display: block;
}
.edit-pic{
    transition:opacity 0.3s ease-out;
    opacity: 0;
    position: absolute;
    bottom: 0;
    height: 40px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    background-color: #000;
    width: 100%;
}
.edit-pic:hover{
  cursor: pointer;
}
.alert-pic-empty{
  width: 60%;
  text-align: center;
  font-weight: 500;
  margin: auto;
  display: none;
}
.alert-pass{
  text-align: center;
  font-weight: 500;
  margin: auto;
  margin-right: 7%;
  margin-left: 7%;
  margin-top: 5%;
  display: none;
}
.presentation_content>p{
  text-align: justify;
}

.img-container {
    position: relative;
    margin: 10px;
    min-width: 150px;
    min-height: 150px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.gallerie-pic{
  overflow: hidden; 
  height: 200px; 
  max-width: 370px;
  cursor: zoom-in;
}

.list-label{
  display: inline-block; 
  width: 160px;
}
.dd .ddChild li{
  cursor: pointer;
}

.err-404{
  font-size: 200px;
    font-weight: bold;
    text-align: center;
    margin-top: -30px;
    color: #788080;
}
.err-404-msg{
  text-align: center;
    font-size: 16px;
    color: #fff;
}
.pagination{
  width: fit-content;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.pagination li {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    float: left;
    padding: 5px 13px;
    transition: background-color .3s;
}
.pagination li:hover{
  cursor: pointer;
}
.pagination li.active {
    background-color: #fff;
}
.pagination li.active a{
  color: #000;
}
.pagination li a{
  width: 100%;
  height: 100%;
  color: #fff; 
    text-decoration: none;
}

.pagination li:hover:not(.active) {
  background-color: #ddd; 
  color: #000
}
.pagination li:hover:not(.active) a{
  color: #000;
}
.pagination li a.lnk{
  text-decoration: none;
}
.grid-container {
  display: grid;
  width: 90%;
  grid-template-columns: 33% 33% 33%;
  padding: 20px;
  margin: auto;
}
.grid-item {
  position: relative;
  min-height: 50px;
  text-align: center;
  margin: 10px;
}

.thumbnail, .add-thumb {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  box-shadow: 0 0 2px 1px rgba(53, 53, 53, 0.83);
  transition: all 0.3s ease-out;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.del-pic{
    position: absolute;
    top: 5px;
    right: 8px;
    color: red;
    opacity: 0;
    transition: all 0.2s ease-out; 
}
.del-pic:hover{
  cursor: pointer;
  transform: scale(1.1)
}
.thumbnail:hover > .del-pic{
    opacity: 1;
}
.thumbnail:hover{
  box-shadow: 0 0 7px 3px rgba(53, 53, 53, 0.83);
  transform: scale(1.1);
  z-index: 999;
}
.add-pic-icon{
  position: absolute;
  top: 50%;
  font-size: 40px;
  color: #a9a9a9;
  transition: all 0.2s ease-out; 
  transform: translate(-50%, -50%);
}
.add-pic-icon:hover{
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.3);
}
.cpress{
  max-width: 180px;
  margin: auto;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 2px;
    box-shadow: 0px 0px 10px 3px rgba(171, 171, 171, 0.71);
}
.lang{
  position: absolute; 
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
  opacity: 0;
}
.lang>a>img{
  opacity: 1;
  position: absolute;
  width: 50px;
  left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.grid-item .cpress img,
.lang
{
  transition: all .2s ease-out;
}
.cp-img{
  width: 100%;
}
.grid-item .cpress:hover .cp-img{
  transform: scale(1.2);
}
.grid-item .cpress:hover .lang{
  opacity: 1;
}
@media all and (max-width: 1024px)
{
    #register, #register-press, #edit, #edit_presentation{
        width: 95%;
        border-radius: 0;
    }

    .form-element{
        padding: 2px;
        margin-left: 0;
    }
    .form-element>label{
        display: block;
    }
    .form-element>input, .form-element>textarea{
        width: 95%;
        margin-bottom: 5px;
    }
    .required:after {
        float: none;
        margin-left: 5px;
        margin-top: 5px;
    }
    .list-label{
      width: auto;
    }
    .col-md-9{
      max-width: 90% !important;;
    }
}