<?php $this->assign('title','Oops! - 404 page introuvable'); ?>
<div class="col-md-9 profile-container">
	<div class="err-404">404</div>
	<div class="err-404-msg">Oops!! vous avez perdu de chemin, pensez a revenir a <a href="/" class="lnk">la page d'accueil</a></div>
</div>