<div class="alert alert-success" style="min-width: 300px; max-width: 80%; width: 50%;text-align: center;margin-left: auto;margin-right: auto; padding: 20px;">
	<strong>TheConceptStoreInternational</strong> vous remercie de votre paiement, vous serez rediriger dans quelques instant
</div>
<div id="loading" style="text-align: center;">
    <?= $this->Html->image('loading.gif',['style'=>'width: 30px;']);?>
</div>
<script type="text/javascript">
	$(document).ready(
		setTimeout(function(){
			window.location.replace("/users/profile");
		}, 3000));
</script>